/.cache/
/.task/
/vendor/
/bin/
.idea
.DS_Store
**/.gradle
scripts/jvm/**/build
scripts/jvm/.manager
proto/_tmp
/dist/
/gen/python/protos.egg-info/
kreya
*.krop
*.krenv
*-request.json
*-request-0.json
*.krproj
*.krpref
